body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}
h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
    fotn-size: 8px;
}
p {
    display: block;
    margin-top: 5px;
    fotn-size: 15px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px;
    
}
